* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Pokemon';
    src: url(images/PokemonGb-RAeo.ttf);
}
body {
    
    
    font-family: 'Pokemon';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px;
    min-height: 100vh;
}


.main-container {
    border: 5px solid black;
    border-radius: 10px;
    height:  80vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1000px;
}

.top-row {
    background-color: white;
    width: 100%;
    border: 3px solid black;
    border-bottom: white;
    height: 11rem;
}

.top-row .player-hp-bar-container{
    margin-top: 5px;
    margin-left: 20px;
}

.mid-row-top {
    background-color: white;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: flex-end;
}

.cpu-choice {
    /*background-color: white;*/
    width: 40%;
    max-width: 420px;
    height: 95%;
   /* border: 3px solid black;
    border-radius: 5px;
    margin-right: 25px;
    /*background: url(images/rock.png);
    background-repeat: no-repeat;
    background-size: contain;*/
}




.mid-row-bottom {
    background-color: white;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.player-choice {
    background-color: white;
    width: 40%;
    height: 95%;
    max-width: 420px;
   /* border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 3px;
    /*
    background: url(images/paper.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  fadeInDown ;
    animation-duration: 3s;
    */
}


        .choice-styles{
    background-size: contain;
    background-repeat: no-repeat;

}

.show-option-rock-lose {
    
    background: url(images/rock.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  fadeInDown ;
    animation-duration: 4s;
}

.show-option-paper-lose {
    
    background: url(images/paper.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  fadeInDown ;
    animation-duration: 4s;
}

.show-option-scissors-lose {
    
    background: url(images/scissors.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  fadeInDown ;
    animation-duration: 4s;
}

.show-option-rock-win {
    
    background: url(images/rock.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  displayWin ;
    animation-duration: 4s;
}

.show-option-paper-win {
    
    background: url(images/paper.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  displayWin ;
    animation-duration: 4s;
}

.show-option-scissors-win {
    
    background: url(images/scissors.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    animation-name:  displayWin ;
    animation-duration: 4s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        
    }
    20% {
        opacity: 1;
        
    }
    30% {
        opacity: 1;
        transform: translate(3px)
        
    }
    40% {
        opacity: 1;
        transform: translate(-3px)
        
    }
    50% {
        opacity: 1;
        transform: translate(3px)
        
    }
    60% {
        opacity: 1;
        transform: translate(-3px)
    }
    70% {
        opacity: 1;
        transform: translate(3px)
    }

    100% {
        opacity: 0;
    }
}

@keyframes displayWin {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }



}

.remove-option {
animation-name: fadeAway;
animation-duration: 3s;



}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }


}




.player-hp-bar-container {
    background-color: rgb(251,243,209);
    width: 50%;
    
    display: flex;
    flex-direction: column;
    
    border: 5px solid black;
    border-radius: 30px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.playerhpbartop {
    display: flex;
    justify-content:space-between;
    
}

.playerhpbartop p {
    margin-top: 20px;
}

.hp-title {
    margin-left: 10px;
}

#player-percentage {
    margin-right: 35px;
}

#cpu-percentage {
    margin-right: 35px;
}



.lv99 {
    margin-right: 35px;
}

.hp-bar {
    width: 75%;
    background-color: black;
    height: 2rem;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.currenthp {
    width: 99%;
    
    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 2px;
    border-left-width: 3px;
    border-right-width: 0px;
    border-radius: 10px;
    height: 90%;
   }

   #CPU_HP {
    background-color: #0acf3b;

   }
   #player_HP {
    background-color: #0acf3b;

   }

   .changeColor {
    animation: changeColorYellow ease 3s;
    
   }
   .changeColorRed {
    animation: changeColorRed ease 3s;
    
   }

   @keyframes changeColorYellow {
    0%{
        background-color: #0acf3b;
    }
    100%{
        background-color: yellow;
    }
   }


   @keyframes changeColorRed {
    0%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
   }



.playerhp-bar-bottom {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .hp-points {
        margin-top: 5px;
        margin-right: 35px;
    }

    .hp-text {
        margin-left: 30px;
    }

.bottom-row {
    background-color: rgb(176, 68, 68);
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: flex-end;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid black;
    width: 55%;
    background-color: rgb(251,243,209);
   
}

.game-text p {
    color: black;
    overflow: hidden;
    border-right: .15em solid black;  /* The typewrite cursor*/
    white-space: nowrap; /* Keeps the content on a single line */
    margin-left: 1em;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 1.5s steps(40, end),
    blink-caret .5s step-end infinite;
    margin-bottom: 10px;
}

.test3 {
    text-decoration: none;
    margin-left: 1em;
    color: black;
    animation-name: text-fadein;
    animation-duration: 1.00s;
}





.options {
    border: 3px solid white;
    justify-self: flex-end;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.choices {
    width: 100%;
    text-decoration: none;
    font-family: 'Pokemon';
    
}

.rock-btn {
    background-color: rgb(208,151,2);
    color: white;
    animation-name: rock-color-shift;

animation-duration: 1.00s;

animation-timing-function: ease-in-out;

    animation-fill-mode: backwards;

    animation-direction: alternate;

    animation-play-state: paused;

    animation-iteration-count: infinite;

    
}

.rock-btn:hover {
 
animation-play-state: running;


}



.paper-btn:hover {
 
animation-play-state: running;
    
    
    }

.scissors-btn:hover {
 
 animation-play-state: running;
        
        
        }
@keyframes  rock-color-shift {
  
    from {background-color: rgb(208,151,2); }
    to { background-color: chocolate; }
    
    }
    
@keyframes  paper-color-shift {
  
    from {background-color: limegreen }
    to { background-color: #86e391 }
    
    }
    
@keyframes  scissors-color-shift {
  
        from {background-color: slategray; }
        to { background-color: #857a7f; }
        
        }        



.paper-btn {
    background-color: limegreen;
    color: white;
    animation-name: paper-color-shift;
    animation-duration: 1.00s;

animation-timing-function: ease-in-out;

    animation-fill-mode: backwards;

    animation-direction: alternate;

    animation-play-state: paused;

    animation-iteration-count: infinite;
}

.scissors-btn {
    background-color: slategrey;
    color: white;
    animation-name: scissors-color-shift;
    animation-duration: 1.00s;

animation-timing-function: ease-in-out;

    animation-fill-mode: backwards;

    animation-direction: alternate;

    animation-play-state: paused;

    animation-iteration-count: infinite;

}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}


@keyframes text-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}